<header class="main-header-top hidden-print">
    <a href="~/Aplicacion" class="logo"><img class="img-fluid able-logo logo-cabecera" id="logo-header" src="" alt="Theme-logo"></a>
    <nav class="navbar navbar-static-top">
        <!-- Navbar Right Menu-->
        <div class="navbar-custom-menu w-100">
            <ul class="top-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span><img class="img-circle " src="~/Content/sistema/imagenes/perfil/avatar-1.png" alt="User Image"></span>
                        <span><label class="text-uppercase nombre-usuario-head f-w-600" id="nombre-usuario-head"></label> <i class=" icofont icofont-simple-down"></i></span>
                    </a>
                    <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
                    <div class="dropdown-menu dropdown-menu-right animate slideIn settings-menu" aria-labelledby="navbarDropdown">
                        <div class="dropdown-divider p-0 m-0"></div>
                        <a class="dropdown-item" href="~/Login/CerrarSesion"><i class="icofont-sign-out"></i> Cerrar Sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>