@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/sistema/css/aplicacion/index.css?@ViewBag.VersionSistema">
}

    <div id="cuerpo-principal" class="cuerpo-mostrar">
        <div class="container-app-list">
        </div>
    </div>

@section scripts{
    <script src="~/Content/sistema/js/aplicacion/index.js?@ViewBag.VersionSistema"></script>
}